{% extends "base.html" %}

{% block title %}Cadastros{% endblock %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Cadastros</h1>

<ul class="nav nav-tabs" id="cadastrosTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'entidade' %}active{% endif %}" id="entidade-tab" data-toggle="tab" href="#entidade" role="tab" aria-controls="entidade" aria-selected="false">Entidades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'software' %}active{% endif %}" id="software-tab" data-toggle="tab" href="#software" role="tab" aria-controls="software" aria-selected="false">Softwares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'modulo' %}active{% endif %}" id="modulo-tab" data-toggle="tab" href="#modulo" role="tab" aria-controls="modulo" aria-selected="false">Módulos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'prioridade' %}active{% endif %}" id="prioridade-tab" data-toggle="tab" href="#prioridade" role="tab" aria-controls="prioridade" aria-selected="false">Prioridades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'tipo-ocorrencia' %}active{% endif %}" id="tipo-ocorrencia-tab" data-toggle="tab" href="#tipo-ocorrencia" role="tab" aria-controls="tipo-ocorrencia" aria-selected="false">Tipos de Ocorrência</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'carro' %}active{% endif %}" id="carro-tab" data-toggle="tab" href="#carro" role="tab" aria-controls="carro" aria-selected="false">Carros</a>
    </li>
</ul>

 <!-- Conteúdo das abas -->
 <div class="tab-content" id="cadastrosTabContent">
    <!-- Entidade -->
    <div class="tab-pane fade {% if active_tab == 'entidade' %}show active{% endif %}" id="entidade" role="tabpanel" aria-labelledby="entidade-tab">
        <h4></h4>
        <h4></h4>
        <a href="{{ url_for('main.nova_entidade') }}" class="btn btn-primary mb-4">Novo</a>
        <h4>Entidades Cadastradas</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Entidade</th>
                    <th>CNPJ</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for entidade in entidades %}
                <tr>
                    <td>{{ entidade.id }}</td>
                    <td>{{ entidade.municipio }}</td>
                    <td>{{ entidade.cnpj }}</td>
                    <td>{{ entidade.endereco }}</td>
                    <td>{{ entidade.telefone }}</td>
                    <td>
                        <a href="{{ url_for('main.editar_entidade', id=entidade.id) }}" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Softwares -->
    <div class="tab-pane fade {% if active_tab == 'software' %}show active{% endif %}" id="software" role="tabpanel" aria-labelledby="software-tab">
        <h4></h4>
        <h4></h4>
        <a href="{{ url_for('main.novo_software') }}" class="btn btn-primary mb-4">Novo</a>
        <h4>Softwares Cadastrados</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for software in softwares %}
                <tr>
                    <td>{{ software.id }}</td>
                    <td>{{ software.descricao }}</td>
                    <td>
                        <a href="{{ url_for('main.editar_software', id=software.id) }}" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
<!-- Módulos -->
<div class="tab-pane fade {% if active_tab == 'modulo' %}show active{% endif %}" id="modulo" role="tabpanel" aria-labelledby="modulo-tab">
    <h4></h4>
    <h4></h4>
    <a href="{{ url_for('main.novo_modulo') }}" class="btn btn-primary mb-4">Novo</a>
    <h4>Módulos Cadastrados</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Software</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for modulo in modulos %}
            <tr>
                <td>{{ modulo.id }}</td>
                <td>{{ modulo.software.descricao }}</td>
                <td>{{ modulo.descricao }}</td>
                <td>
                    <a href="{{ url_for('main.editar_modulo', id=modulo.id) }}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Prioridade -->
<div class="tab-pane fade {% if active_tab == 'prioridade' %}show active{% endif %}" id="prioridade" role="tabpanel" aria-labelledby="prioridade-tab">
    <h4></h4>
    <h4></h4>
    <a href="{{ url_for('main.nova_prioridade') }}" class="btn btn-primary mb-4">Novo</a>
    <h4>Prioridades Cadastradas</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for prioridade in prioridades %}
            <tr>
                <td>{{ prioridade.id }}</td>
                <td>{{ prioridade.descricao }}</td>
                <td>
                    <a href="{{ url_for('main.editar_prioridade', id=prioridade.id) }}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Tipo Ocorrência -->
<div class="tab-pane fade {% if active_tab == 'tipo-ocorrencia' %}show active{% endif %}" id="tipo-ocorrencia" role="tabpanel" aria-labelledby="tipo-ocorrencia-tab">
    <h4></h4>
    <h4></h4>
    <a href="{{ url_for('main.novo_tipo_ocorrencia') }}" class="btn btn-primary mb-4">Novo</a>
    <h4>Tipos de Ocorrência Cadastrados</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo_ocorrencia in tipos_ocorrencia %}
            <tr>
                <td>{{ tipo_ocorrencia.id }}</td>
                <td>{{ tipo_ocorrencia.descricao }}</td>
                <td>
                    <a href="{{ url_for('main.editar_tipo_ocorrencia', id=tipo_ocorrencia.id) }}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Carro -->
<div class="tab-pane fade {% if active_tab == 'carro' %}show active{% endif %}" id="carro" role="tabpanel" aria-labelledby="carro-tab">
    <h4></h4>
    <h4></h4>
    <a href="{{ url_for('main.novo_carro') }}" class="btn btn-primary mb-4">Novo</a>
    <h4>Carros Cadastrados</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Ano</th>
                <th>Placa</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for carro in carros %}
            <tr>
                <td>{{ carro.id }}</td>
                <td>{{ carro.modelo }}</td>
                <td>{{ carro.marca }}</td>
                <td>{{ carro.ano }}</td>
                <td>{{ carro.placa }}</td>
                <td>
                    <a href="{{ url_for('main.editar_carro', id=carro.id) }}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
