{% extends "base.html" %}

{% block title %}HelpDesk - Área Principal{% endblock %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Dashboard</h1>

<!-- Ocorrências Section -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Ocorrências</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Entidade</th>
                        <th>Contato</th>
                        <th>Prioridade</th>
                        <th>Tipo</th>
                        <th>Software</th>
                        <th>Módulo</th>
                        <th>Descrição</th>
                        <th>Resolução</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ocorrencia in ocorrencias %}
                        <tr>
                            <td>{{ ocorrencia.entidade.entidade }}</td>
                            <td>{{ ocorrencia.contato }}</td>
                            <td>{{ ocorrencia.prioridade.descricao }}</td>
                            <td>{{ ocorrencia.tipo.descricao }}</td>
                            <td>{{ ocorrencia.software.descricao }}</td>
                            <td>{{ ocorrencia.modulo.descricao }}</td>
                            <td>{{ ocorrencia.descricao }}</td>
                            <td>{{ ocorrencia.resolucao }}</td>
                            <td>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
