{% extends "base.html" %}

{% block content %}
    <h1>Cadastrar Tipo de Ocorrência</h1>
    <form method="POST" action="{{ url_for('main.novo_tipo_ocorrencia') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="descricao">Descrição</label>
            {{ form.descricao(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{{ url_for('main.cadastros', active_tab='tipo-ocorrencia') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
